@media not print {
  .block-important-information {
    pointer-events: none;
    z-index: 999;
  }
  .block-important-information .block-important-information .contextual-links-wrapper {
    pointer-events: all;
  }
  .block-important-information .action-links {
    pointer-events: all;
    z-index: 1000;
  }
  .block-important-information .action-links .dismiss, .block-important-information .action-links .full-screen {
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 10;
  }
  .block-important-information:not(.relative):not(.inline-element) .important-information {
    position: absolute;
    pointer-events: all;
  }
  .block-important-information .important-information.bottom:not(.display-fixed) {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .block-important-information .important-information.top:not(.display-fixed) {
    top: 0;
    left: 0;
    width: 100%;
  }
  .block-important-information .important-information.left:not(.display-fixed) {
    top: 0;
    left: 0;
    height: 100%;
  }
  .block-important-information .important-information.right:not(.display-fixed) {
    top: 0;
    right: 0;
    height: 100%;
  }
  .block-important-information .important-information.hidden {
    display: none;
  }
  .block-important-information .important-information:not(.hidden) {
    display: block;
  }
  .block-important-information .important-information h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .block-important-information .important-information .information-top-bar h4, .block-important-information .important-information .information-sub-bar h4 {
    margin: 0;
    position: relative;
  }
  .block-important-information .important-information .information-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .block-important-information>h2 {
    display: none;
  }
  .block-important-information .contextual-links-wrapper {
    right: 40px;
    top: 40px;
    pointer-events: all;
  }
  body.has-important-information.ii-top.toolbar.toolbar-drawer .contextual-links-wrapper, body.has-important-information.ii-top.toolbar.toolbar-drawer .important-information {
    margin-top: 65px;
  }
  body.has-important-information.ii-top.toolbar.toolbar-drawer .important-information>.dismiss {
    top: 65px;
    right: 16px;
  }
  body.has-important-information.ii-top.toolbar:not(.toolbar-drawer) .contextual-links-wrapper, body.has-important-information.ii-top.toolbar:not(.toolbar-drawer) .important-information {
    margin-top: 30px;
  }
  body.has-important-information.ii-top.toolbar:not(.toolbar-drawer) .important-information>.dismiss {
    top: 30px;
    right: 16px;
  }
  body.has-important-information.important-information-full-screen {
    overflow: hidden;
  }
  body.has-important-information.important-information-full-screen .information-body {
    min-height: 70vh;
  }
  body.has-important-information.important-information-full-screen .full-screen {
    color: transparent;
  }
  body.has-important-information.important-information-full-screen .full-screen::after {
    top: 6px;
    right: 9px;
    text-align: center;
    position: absolute;
  }
  body.has-important-information.admin-menu:not(.ii-bottom) .block-important-information {
    top: 20px;
  }
  .block-important-information:not(.inline-element) .important-information {
    position: absolute;
    pointer-events: all;
  }
  .block-important-information .important-information.relative {
    position: relative;
  }
  .block-important-information.inline-element .information-top-bar, .block-important-information.inline-element .information-sub-bar {
    display: none;
  }
  body.important-information-full-screen #block-important-information-important-information {
    position: fixed;
  }
}

@media print {
  #block-important-information-important-information>h2,
  #block-important-information-important-information .information-top-bar {
    display: none;
  }
  body #block-important-information-important-information {
    position: relative!important;
  }
}