@media not print {
  .block-important-information {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
    .block-important-information .contextual-links-wrapper {
      pointer-events: all;
    }
    .action-links {
      pointer-events: all;
      z-index: 1000;
      .dismiss, .full-screen {
        position: relative;
        cursor: pointer;
        display: block;
        z-index: 10;
      }
    }
    &:not(.relative):not(.inline-element) .important-information {
      position: absolute;
      pointer-events: all;
    }
    .important-information {
      &.bottom {
        bottom: 0;
        left: 0;
        width: 100%;
      }
      &.top {
        top: 0;
        left: 0;
        width: 100%;
      }
      &.left {
        top: 0;
        left: 0;
        height: 100%;
      }
      &.right {
        top: 0;
        right: 0;
        height: 100%;
      }
      &.hidden {
        display: none;
      }
      &:not(.hidden) {
        display: block;
      }
      h1 {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .information-top-bar h4, .information-sub-bar h4 {
        margin: 0;
        position: relative;
      }
      .information-body {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
    > h2 {
      display: none;
    }
    .contextual-links-wrapper {
      right: 40px;
      top: 40px;
      pointer-events: all;
    }
  }
  body.has-important-information {
    &.ii-top.toolbar {
      &.toolbar-drawer {
        .contextual-links-wrapper {
          margin-top: 65px;
        }
        .important-information {
          margin-top: 65px;
          > .dismiss {
            top: 65px;
            right: 16px;
          }
        }
      }
      &:not(.toolbar-drawer) {
        .contextual-links-wrapper {
          margin-top: 30px;
        }
        .important-information {
          margin-top: 30px;
          > .dismiss {
            top: 30px;
            right: 16px;
          }
        }
      }
    }
    &.important-information-full-screen {
      overflow: hidden;
      .information-body {
        min-height: 70vh;
      }
      .full-screen {
        color: transparent;
        &::after {
          content: '-';
          top: 6px;
          right: 9px;
          text-align: center;
          position: absolute;
        }
      }
    }
    &.admin-menu:not(.ii-bottom) .block-important-information {
      top: 20px;
    }
  }
  .block-important-information {
    &:not(.inline-element) .important-information {
      position: absolute;
      pointer-events: all;
    }
    .important-information.relative {
      position: relative;
    }
    &.inline-element {
      .information-top-bar, .information-sub-bar {
        display: none;
      }
    }
  }
  body.important-information-full-screen #block-important-information-important-information {
    position: fixed;
  }
}

@media print {
  #block-important-information-important-information {
    > h2, .information-top-bar {
      display: none;
    }
  }
}